---
import { Image } from "astro:assets";

import { StarlightIcon } from "..";
import HeroImage from "~/assets/images/release-notes/hero.svg";
---

<div class="w-full h-[300px] flex mb-16">
	<div class="flex justify-between w-full items-center">
		<div class="flex flex-col w-full text-center sm:items-start justify-center">
			<div class="!mt-0 sm:hidden">
				<Image src={HeroImage} alt="hero image" height="240" />
			</div>
			<h1 class="sm:!mt-0">Changelog</h1>
			<p>
				New updates and improvements at Cloudflare.
				<span>
					<a
						href="/release-notes/feed.rss"
						class="no-underline text-[#056DFF] dark:text-[#79B1FF] hover:!text-[#056DFF] dark:hover:!text-[#79B1FF] hover:bg-[#DCEBFF] dark:hover:bg-[#002B66] hover:rounded-[4px] px-2"
					>
						Subscribe to RSS
						<StarlightIcon
							name="rss"
							size="18px"
							class="!inline align-text-top"
						/>
					</a>
				</span>
			</p>
		</div>
		<div class="!mt-0 hidden sm:block">
			<Image src={HeroImage} alt="hero image" height="240" />
		</div>
	</div>
</div>
