---
import { Image } from "astro:assets";
import { z } from "astro:schema";

import HeroImage from "~/assets/images/release-notes/hero.svg";

type Props = z.infer<typeof props>;

const props = z.object({
	showBackLink: z.boolean().optional(),
});

const { showBackLink } = props.parse(Astro.props);
---

<div class="w-full justify-self-center flex mb-16">
	<div class="flex justify-between w-full">
		<div
			class="flex flex-col w-full text-center items-center sm:items-start justify-center"
		>
			<div class="!mt-0 sm:hidden">
				<Image src={HeroImage} alt="hero image" height="240" />
			</div>
			<h1 class="sm:!mt-0">Changelog</h1>
			<p>
				New updates and improvements at Cloudflare.
				<span>
					<a href="/release-notes/feed.rss"> Subscribe to RSS </a>
				</span>
			</p>
			<p>
				{
					showBackLink && (
						<a href="/release-notes/" class="no-underline">
							<span class="text-accent">← </span>
							<span class="text-black">Back to all posts</span>
						</a>
					)
				}
			</p>
		</div>
		<div class="!mt-0 hidden sm:block">
			<Image src={HeroImage} alt="hero image" height="240" />
		</div>
	</div>
</div>
