<div class="flex mb-20">
	<div class="flex flex-col">
		<h1>Changelog</h1>
		<p>
			New updates and improvements at Cloudflare.
			<span>
				<a href="/release-notes/feed.rss">Subscribe to RSS</a>
			</span>
		</p>
	</div>
</div>
